@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
    font-weight: 500;
    font-size: 16px;
    margin-right: 25px;
    color: black;
}
.nav-item:nth-last-of-type(1) {
    margin-right: 0;
}
.btn-group {
    position: relative;
}
.search-icon-toggle.active {
    display: none;
}

.search-bar-inputGroup.active {
    width: 250px;
    position: absolute;
    right: 0px;
}

.close-btn {
    position: absolute;
    top: -1px;
}

.search-bar-input.active {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
}

.hero-heading {
    font-family: 'Source Serif 4', serif !important;
}

.hero-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(250, 237, 180);
}
